@model EjercicioClavesABM.Models.Novedad

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la Novedad</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        @if (!string.IsNullOrEmpty(Model.Imagen))
        {
            <img src="@Url.Content(Model.Imagen)" class="img-responsive text-center" alt="Imagen" >
        }
    </div>

    <div class="col-md-6 text-center">
        <h1 class="pull-left">Titulo: @Html.DisplayFor(model => model.Titulo)</h1>
    </div>
</div>
<br />
<div class="row text-center thumbnail">
    <div class="col-md-12">
        <h3>Descripcion: </h3>
        <p>@Html.DisplayFor(model => model.Descripcion)</p>
    </div>
</div>
<br /><br /><br />
<p class="text-center">
    @Html.ActionLink("Editar", "Edit", new { id = Model.NovedadId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })

</p>
